<!-- <div class="form"> -->
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <h4>{{title}}</h4>
    <div class="form-container">
     <form #formRef="ngForm" (ngSubmit)="onSubmit(formRef)">
  
      <div class="form-group">
          <label for="id">Id</label>
          <div>
              <input #taskId type="text" name="id" [ngModel]="task.id"
              [readonly]="task.id != null" class="readonly-style" required />
          </div>
      </div>
  
      <div class="form-group">
          <label for="label">Task Label</label>
          <input #inputLabel type="text" name="label" [ngModel]="task.label"
                              class="form-control" required />
      </div>
  
  
      <div class="form-group">
          <label for="address">Task Description</label>
          <input #inputDesc type="text" name="description" [ngModel]="task.description"
                              class="form-control"/>
      </div>
  
      <div class="form-group">
          <label for="projet">Project</label>
          <input #inputProj type="text" name="projectName" [ngModel]="task.projectName"
                              class="form-control"/>
      </div>
      <button type="submit">Save</button>
      <button (click)="onCancel()">Cancel</button>
  
     </form>
    </div>
</form>
  <!-- </div> -->